:root {
  --primary-color: #161616;
  --secondary-color: #fbf7f7;
  --tertiary-color: #7d7e82;
  --primary-font: "Catamaran", sans-serif;
  --secondary-font: "Titan One", sans-serif;
  --tertiary-font: "Anton", sans-serif;
}

.content {
  text-align: center;
  padding: 180px 0;
  background: var(--primary-color);
  color: var(--secondary-color);
}

h3 {
  font-size: 50px;
  font-family: var(--primary-font);
}

h1 {
  font-size: 100px;
  font-family: var(--secondary-font);
}

h5 {
  font-family: var(--tertiary-font);
}

.contact {
  font-family: var(--primary-font);
  line-height: 40px;
  font-size: 40px;
  padding: 18px 26px;
}

.homepage {
  color: var(--tertiary-color);
}

p {
  font-size: 15px;
  font-family: var(--primary-font);
  text-align: center;
}

h2 {
  font-size: 60px;
  font-family: var(--primary-font);
  font-weight: bold;
  text-align: center;
}

.headline {
  font-size: 20px;
  margin-top: 20px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 12px;
  }

  h5 {
    font-size: 18px;
  }
}

.Image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 80vh;
}

.introduction {
  font-size: 50px;
  text-align: center;
}

.aboutme {
  padding: 150px;
}

.aboutme p {
  font-size: 19px;
}

.about {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

span {
  color: var(--tertiary-color);
}

.portfolio {
  display: flex;
  justify-content: center;
  text-align: center;
}
